.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  color: white;
  background-color: black;
}

p {
  margin: 8px;
}

p:first-child {
  margin-top: 15px;
}

.starship {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  background-color: darkgreen;
  border-radius: 10px;
}

.details {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 250px;
  color: white;
  background-color: darkgreen;
  border-radius: 10px;
}

#starships {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 50px;
}

#detail {
  display: flex;
  align-items: center;
  justify-content: center;
}
